
<div [formGroup]="group">
  <div class="formrow">
    <div class="row">
      <label for="bucket_path_prefix">Blob Storage Scheme</label>
    </div>
    <div class="form-inline">
      <input
          type="radio"
          formControlName="blobStorageScheme"
          value="s3"
          id="s3">
      <label for="s3">
        AWS S3
      </label><input
                type="radio"
                formControlName="blobStorageScheme"
                value="s3-compat"
                id="s3-compat">
        <label for="s3-compat">
            S3-Compatible Storage
        </label>
      <!--
      <input
          type="radio"
          formControlName="blobStorageScheme"
          value="gc"
          id="gc">
      <label for="gc">
        Google Cloud Storage (GCS)
      </label>
      <input
          type="radio"
          formControlName="blobStorageScheme"
          value="azblob"
          id="azblob">
      <label for="azblob">
        Azure Blob Storage
      </label>
      <input
          type="radio"
          formControlName="blobStorageScheme"
          value="none"
          id="none">
      <label for="none">
        None
      </label>
      -->
    </div>
    <div
        class="error error-form"
        [hidden]="!(postNodeInitHttp.error | async)?.errors?.blobStorageScheme">
      {{(postNodeInitHttp.error | async)?.errors?.blobStorageScheme}}
    </div>
    <div
        class="error error-form"
        [hidden]="!(postClusterInitHttp.error | async)?.errors?.blobStorageScheme">
      {{(postClusterInitHttp.error | async)?.errors?.blobStorageScheme}}
    </div>
  </div>
  <div *ngIf="group.get('blobStorageScheme').value === 'none'">
    <p class="error">Warning: Disabling blob storage is for evaluation purposes only and can only be utilized on single-node clusters.</p>
  </div>

  <div *ngIf="group.get('blobStorageScheme').value !== 'none'">
    <div class="formrow">
      <div class="row" *ngIf="group.get('blobStorageScheme').value == 's3-compat'">
        <label for="bucket_endpoint">Endpoint</label>
      </div>
      <input *ngIf="group.get('blobStorageScheme').value == 's3-compat'"
         type="text"
         autocorrect="off"
         spellcheck="false"
         autocapitalize="off"
         name="blobStorageEndpoint"
         id="bucket_endpoint"
         [mnFocus]="focusFieldSubject"
         mnName={{blobStorageEndpoint}}
         formControlName="blobStorageEndpoint"
         placeholder="e.g. https://my-object-storage:18082">
      <div
         class="error error-form"
         [hidden]="!(postNodeInitHttp.error | async)?.errors?.blobStorageEndpoint">
        {{(postNodeInitHttp.error | async)?.errors?.blobStorageEndpoint}}
      </div>
      <div
         class="error error-form"
         [hidden]="!(postClusterInitHttp.error | async)?.errors?.blobStorageEndpoint">
        {{(postClusterInitHttp.error | async)?.errors?.blobStorageEndpoint}}
      </div>
    </div>
    <div class="formrow">
      <div class="row">
        <label for="bucket_name">Bucket name</label>
      </div>
      <input
         type="text"
         autocorrect="off"
         spellcheck="false"
         autocapitalize="off"
         [mnFocus]="focusFieldSubject"
         name="bucketName"
         id="bucket_name"
         formControlName="blobStorageBucket">
      <div
         class="error error-form"
         [hidden]="!(postClusterInitHttp.error | async)?.errors?.blobStorageBucket">
        {{(postClusterInitHttp.error | async)?.errors?.blobStorageBucket}}
      </div>
      <div
         class="error error-form"
         [hidden]="!(postClusterInitHttp.error | async)?.errors?.blobStorageBucket">
        {{(postClusterInitHttp.error | async)?.errors?.blobStorageBucket}}
      </div>
    </div>
    <div class="formrow">
      <div class="row">
        <label for="bucket_path_prefix">Bucket path prefix</label>
      </div>
      <input
         type="text"
         autocorrect="off"
         spellcheck="false"
         autocapitalize="off"
         name="blobStoragePrefix"
         id="bucket_path_prefix"
         formControlName="blobStoragePrefix"
         placeholder="e.g. analyticsData/">
      <div
         class="error error-form"
         [hidden]="!(postNodeInitHttp.error | async)?.errors?.blobStoragePrefix">
        {{(postNodeInitHttp.error | async)?.errors?.blobStoragePrefix}}
      </div>
      <div
         class="error error-form"
         [hidden]="!(postClusterInitHttp.error | async)?.errors?.blobStoragePrefix">
        {{(postClusterInitHttp.error | async)?.errors?.blobStoragePrefix}}
      </div>
    </div>
    <div class="formrow">
      <div class="row">
        <label for="bucket_region">Bucket Region</label>
      </div>
      <input
         type="text"
         autocorrect="off"
         spellcheck="false"
         autocapitalize="off"
         name="blobStorageRegion"
         id="bucket_region"
         formControlName="blobStorageRegion">
      <div
         class="error error-form"
         [hidden]="!(postNodeInitHttp.error | async)?.errors?.blobStorageRegion">
        {{(postNodeInitHttp.error | async)?.errors?.blobStorageRegion}}
      </div>
      <div
         class="error error-form"
         [hidden]="!(postClusterInitHttp.error | async)?.errors?.blobStorageRegion">
        {{(postClusterInitHttp.error | async)?.errors?.blobStorageRegion}}
      </div>
    </div>
    <div class="formrow">
      <input
         type="checkbox"
         id="for-anonymous-Auth"
         formControlName="blobStorageAnonymousAuth">
      <label for="for-anonymous-Auth" class="margin-right-quarter">
        Use Anonymous Authentication
      </label>
      <span
          class="fa-stack icon-info"
          ngbTooltip="Access the service without providing authentication credentials. Use only
                      if the target bucket or endpoint explicitly allows public or anonymous access.."
          placement="right">
          <span class="icon fa-circle-thin fa-stack-2x"></span>
          <span class="icon fa-info fa-stack-1x"></span>
      </span>
      <div
         class="error error-form"
         [hidden]="!(postClusterInitHttp.error | async)?.errors?.blobStorageAnonymousAuth">
        {{(postClusterInitHttp.error | async)?.errors.blobStorageAnonymousAuth}}
      </div>
    </div>
      <div class="formrow">
          <input
                  type="checkbox"
                  id="for-force-path-style"
                  formControlName="blobStorageForcePathStyle">
          <label for="for-force-path-style" class="margin-right-quarter">
              Use Path Style Addressing
          </label>
          <span
              class="fa-stack icon-info"
              ngbTooltip="Path-style URLs look like https://s3.example.com/bucket-name/key, while
                          virtual-hosted–style URLs look like https://bucket-name.s3.example.com/key.
                          Some S3-compatible storage services or DNS configurations may require path-style addressing."
              placement="right">
              <span class="icon fa-circle-thin fa-stack-2x"></span>
              <span class="icon fa-info fa-stack-1x"></span>
          </span>
          <div
              class="error error-form"
              [hidden]="!(postClusterInitHttp.error | async)?.errors?.blobStorageForcePathStyle">
          {{(postClusterInitHttp.error | async)?.errors.blobStorageForcePathStyle}}
          </div>
      </div>
      <div class="formrow">
          <input
                  type="checkbox"
                  id="for-disable-ssl-verify"
                  formControlName="blobStorageDisableSslVerify">
          <label for="for-disable-ssl-verify" class="margin-right-quarter">
              Disable SSL Verification
          </label>
        <span
            class="fa-stack icon-info"
            ngbTooltip="Disables certificate verification for SSL/TLS connections.
            Useful for testing or self-signed certificates, but not recommended
            for production."
            placement="right">
              <span class="icon fa-circle-thin fa-stack-2x"></span>
              <span class="icon fa-info fa-stack-1x"></span>
          </span>
          <div id="ssl-warning"
               *ngIf="group.get('blobStorageDisableSslVerify').value">
              <p class="error">Warning: Disabling SSL verification in a
                  production environment is highly insecure and exposes the
                  system to serious risks, including Man-in-the-Middle (MITM)
                  attacks.</p>
          </div>
          <div
                  class="error error-form"
                  [hidden]="!(postClusterInitHttp.error | async)?.errors?.blobStorageDisableSslVerify">
              {{(postClusterInitHttp.error | async)?.errors.blobStorageDisableSslVerify}}
          </div>
      </div>
  </div>
</div>  